<div class="row cards">
  <div class="col-12 col-lg-6">
  <!-- APM card -->
  <div class="card img-fluid">
    <div class="color-overlay apm"></div>
    <img class="card-img-top" src="/images/apm-card.png">
    <div class="card-img-overlay text-center card-content">
      <h6>APM</h6>
      <h3 class="card-text">Get full visibility into modern applications</h3>
    </div>
  </img>
</div>
<!-- Logs management card -->
<div class="card img-fluid">
  <div class="color-overlay logs-management"></div>
  <img class="card-img-top" src="/images/logs-management-card.png">
  <div class="card-img-overlay text-center card-content">
    <h6>Logs Management</h6>
    <h3 class="card-text">Analyze and explore log data in context</h3>
  </div>
</img>
</div>
<!-- Infrastructure card (mid device) -->
<div class="card img-fluid mid-view">
  <div class="color-overlay infrastructure"></div>
  <img class="card-img-top" src="/images/infrastructure-card.png">
    <div class="card-img-overlay text-center card-content">
      <h6>Infrastructure</h6>
      <h3 class="card-text">See across systems, apps, and services</h3>
    </div>
  </img>
</div>
<!-- Company Brands card -->
<div class="card no-img brands">
<div class="row brands-upper">
<div class="brands-cards col-4">
  <div class="brand-card airbnb">
    <img src="/images/airbnb.svg" alt="airbnb" />
  </div>
  <div class="brand-card peloton">
    <img src="/images/peloton.svg" alt="Peloton" />
  </div>
</div>
<div class="adroll-statement col-8">
  <img src="/images/adroll-logo-2x.svg" alt="adroll">
  <p>“Datadog has been instrumental in managing our real-time infrastructure, globally distributed in 5 data centers across hundreds of instances, and thousands of different metrics and dimensions for each host. I can't believe there was a time when we didn't have Datadog.”</p>
  <div class="signature">
    <strong>Valentino Volonghi</strong>
    <span>Chief Technology Officer</span>
  </div>
  <a href="#">See More Stories</a>
</div>
</div>
<div class="brands-lower">
<div class="brands-cards col-4">
  <!-- Add logic here to rotate between different brands on a short interval on mobile -->
  <div class="brand-card evernote">
    <img src="/images/evernote.svg" alt="Evernote" />
  </div>
  <div class="brand-card pagerduty">
    <img src="/images/pagerduty.svg" alt="Pagerduty" />
  </div>
</div>
<div class="brands-cards col-4">
  <div class="brand-card samsung">
    <img src="/images/samsung.svg" alt="Samsung" />
  </div>
  <div class="brand-card whole-foods">
    <img src="/images/whole-foods.svg" alt="Whole Foods" />
  </div>
</div>
<div class="brands-cards col-4">
  <div class="brand-card nginx">
    <img src="/images/nginx.svg" alt="NGINX" />
  </div>
  <div class="brand-card att">
    <img src="/images/att.svg" alt="AT&T" />
  </div>
</div>
</div>
</div>
</div>
<div class="col-12 col-lg-6">
<!-- Infrastructure card (large device) -->
<div class="card img-fluid lg-view">
  <div class="color-overlay infrastructure"></div>
  <img class="card-img-top" src="/images/infrastructure-card.png">
    <div class="card-img-overlay text-center card-content">
      <h6>Infrastructure</h6>
      <h3 class="card-text">See across systems, apps, and services</h3>
    </div>
  </img>
</div>
<!-- Card with Carousel Attached -->
<div class="card no-img carousel-card"> 
<div class="carousel-header">
<h6>Observability</h6>
<div class="carousel-header-content">
  <p>With turn-key integrations, Datadog seamlessly aggregates metrics and events across the full devops stack</p>
  <a class="carousel-next-button" href="#observability" role="button" data-slide="next">
    <img src="/images/path-arrow.png" href="" />
  </a>
</div>
<a href="#">Read More</a>
</div>
<div id="observability" class="carousel slide multi-item-carousel" data-interval="false" data-ride="carousel">
<div class="carousel-inner align-content-center">
  <div class="carousel-item active">
    <img src="/images/home-observability.png" alt="Home Observability" />
  </div>
  <div class="carousel-item">
    <div class="partial-img">
      <!-- Partial image causes issues with scaling resolution. Will use the same image for better scaling -->
      <!-- <img src="/images/home-dashboards.png" alt="Home Dashboard" /> -->
    <img src="/images/home-observability.png" alt="Home Observability" />
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
