<footer>
  <!-- JavaScript and dependencies -->
  <!-- Carousel image preview logic -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
  {{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}
  <script src="{{$js.RelPermalink}}" defer></script>
  <script>
    $('.carousel-item', '.multi-item-carousel').each(function(){
    let next = $(this).next();
    if (! next.length) {
      next = $(this).siblings(':first');
    }
    next.children(':first-child').clone().appendTo($(this));
  });
  </script>

  
</footer>
