<div class="container-fluid content-footer">
  <div class="content-footer-container row mb-0 mb-lg-7">
    <div class="col-12 col-lg-3">
      <div class="footer-trial-button">Free Trial</div>
      <p class="font-weight-light">© Datadog 2017</p>
    </div>
    <div class="col-12 col-lg-4 mt-3 mt-lg-0">
      <p class="border-bottom">Product</p>
      <div class="row">
        <div class="col-12 col-lg-6">
          <ul class="footer-list">
            <li>
              <a href="#">Features</a>
            </li>
            <li>
              <a href="#">APM</a>
            </li>
            <li>
              <a href="#">Integrations</a>
            </li>
            <li>
              <a href="#">Alerts</a>
            </li>
            <li>
              <a href="#">API</a>
            </li>
            <li>
              <a href="#">Pricing</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-lg-6">
          <ul class="footer-list">
            <li>
              <a href="#">Documentation</a>
            </li>
            <li>
              <a href="#">Support</a>
            </li>
            <li>
              <a href="#">Resources</a>
            </li>
            <li>
              <a href="#">
                Security
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4 mt-3 mt-lg-0">
      <div class="row">
        <div class="col-6 col-lg-8">
          <p class="border-bottom">About</p>
          <ul class="footer-list">
            <li>
              <a href="#">Contact Us</a>
            </li>
            <li>
              <a href="#">Partners</a>
            </li>
            <li>
              <a href="#">Press</a>
            </li>
            <li>
              <a href="#">Our Team</a>
            </li>
            <li>
              <a href="#">Careers</a>
            </li>
            <li>
              <a href="#">Legal</a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-4">
          <p class="border-bottom">Social</p>
          <ul class="footer-list">
            <li>
              <a href="#">Blog</a>
            </li>
            <li>
              <a href="#">Espanol</a>
            </li>
            <li>
              <a href="#">Japanese</a>
            </li>
            <li>
              <a href="#">Instagram</a>
            </li>
            <li>
              <a href="#">Twitter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
