@import "variables.scss";

.bg-datadog {
  background: $bg-datadog
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100%;
  align-items: flex-start;
  padding: 0.5rem 1.5rem;
  z-index: 1;
}

.sidebar-items { 
  .nav-item * {
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  padding: 0;
  font-weight: 700;
    &:hover {
      color: #FFFFFF;
      opacity: .5;
    }
  }

  .sidebar-login a {
    text-transform: none;
    font-weight: 400;
    margin-top: 1.5rem;
  }
}

.navbar-brand {
  margin: 35px 0 50px 0;
  width: 100%;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 80%;
  }
}


.footer {
  height: 340px;
  z-index: 0;
}

.content-body {
  padding-left: $sidebar-width + 30px;
  padding-top: 40px;
}

.intro-text {
  h1 {
    font-size: 48px;
    margin-right: 20px;
    margin-bottom: 18px;
  }
  p {
    font-size: 28px;
  }
}

.trial-button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 3px solid $bg-datadog;
  margin-top: 200px;
  padding: 30px 130px;
  color: $bg-datadog;
  font-size: 24px;
  text-transform: uppercase;
  transition: all 0.3s linear;

  &:hover {
    opacity: 0.6;
    color: $bg-datadog;
    text-decoration: none;
  }
}

.plan-body {
  position: relative;
  margin: 24px 0 24px;
  font-size: 15px;

  &.apm-border {
    border-left: 2px solid #C7C7C7;
    border-right: 2px solid #C7C7C7;
  }
}

.pricing-header {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
}

.plan-pricing {
  background: #F5F5F5;


  &.col-9 {
    max-width: 60%;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
  }
}

.point-header {
  margin-top: 1rem;
}

.pricing-points {
  list-style: none;
  line-height: 2rem;

  li::before {
    content: "-";
  }
}

.plan-details {
  position: absolute;
  bottom: 0px;
  text-decoration: underline;
  text-underline-offset: 5px;

  &:hover {
    opacity: 0.6;
  }
}

.infrastructure {
  color: $infrastructure !important;
}

.apm {
  color: $apm !important; 
}

.logs-management {
  color: $logs-management !important;
}

.small-font {
  font-size: .8rem;
}

.card {
  width: 45%;
  mix-blend-mode: multiply;
  margin: 30px;
  margin-left: 0;

  &.apm {
    background: $apm;
  }

  .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    h6 {
      text-transform: uppercase;
    }
  }
}

.color-overlay {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;

  &.apm {
    background: $apm;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
}

.adroll-statement {
  padding: 30px 20px 20px 20px;
  
  img {
    margin-bottom: 30px;
  }

  .signature {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    margin-bottom: 20px;

    span {
      text-transform: uppercase;
    }
  }

  a {
    color: $bg-datadog;
  }
}


.no-img {
  background: $card-bg;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;

  .row {
    width: 100%;
  }
}

.brands-upper-cards {
  width: 100%;
  padding: 0;
}

.brands-lower {
  width: 100%;
  .col-4 {
    padding: 0;
    
  }
}

.brand-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  height: 185px;

  
  &.evernote {
    background: $bg-evernote;
  }

  &.pagerduty {
    background: $bg-pagerduty;
  }

  &.samsung {
    background: $bg-samsung;
  }

  &.whole-foods {
    background: $bg-black;
  }

  &.airbnb {
    background: $bg-airbnb;
  }

  &.nginx {
    background: $bg-nginx;
  }

  &.peloton {
    background: $bg-black;
  }

  &.att {
    background: $bg-att;
  }
}


.carousel-card {
  padding: 25px;
}

.carousel-header {
  margin-bottom: 100px;

  h6 {
    text-transform: uppercase;
    color: $bg-datadog;
    font-size: 0.75rem;
    margin-bottom: 20px;
  }

  .carousel-header-content {
    display: flex;
    align-items: center;

    p {
      font-size: 1.5rem;
    }
  }

  a {
    color: $bg-datadog;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

.carousel-inner {
  overflow: hidden;
  white-space: nowrap;
}


.partial-img {
  display: inline-block;
}
